<%- include("./../partials/head") %>
<body class="linkdisplay">
<%- include("./../partials/Navbar") %>
<body>
  <nav class="filter navbar navbar-expand-lg navbar-dark ">
    <div class="filter-links">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            COURSE
          </a>
            <ul class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
              <li> 
                <a class="dropdown-item" href="#">Web Development</a>
              </li>
              <li> 
                <a class="dropdown-item" href="#">Artificial Intelligence</a>
              </li>
              <li> 
                <a class="dropdown-item" href="#">Cloud Computing</a>
              </li>
              <li> 
                <a class="dropdown-item" href="#">Game Development</a>
              </li>
            </ul>
        </li>
  
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            PRICE
          </a>
            <ul class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
              <li> 
                <a class="dropdown-item" href="#">Free</a>
              </li>
              <li> 
                <a class="dropdown-item" href="#">Paid</a>
              </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            PLATFORM
          </a>
            <ul class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
              <li> 
                <a class="dropdown-item" href="#">UDEMY</a>
              </li>
              <li> 
                <a class="dropdown-item" href="#">COURSERA</a>
              </li>
              <li> 
                <a class="dropdown-item" href="#">NPTEL</a>
              </li>
              <li> 
                <a class="dropdown-item" href="#">UDACITY</a>
              </li>
              <li> 
                <a class="dropdown-item" href="#">YOUTUBE</a>
              </li>
            </ul>
        </li>
      </ul>
    </div>
      </nav>
      <br><br>
  <div class="m-4 container-b">
    <div class="m-5">
    <%- include('./../partials/flash')%>
    </div>
    <div class="m-5 btn btn-light mt-4 col-sm-1 title plus">
      <a href="courses/new" class="btn">
        <i class="fa fa-solid fa-plus"></i></a>
    </div> 
    <div class="m-5 col-sm-10">
      <div class="row text-color">
        <div class="row m-1">
          <% courses.forEach(course => { %>
            <%  for( let i = 0; i < domain.length; i++ ){  %>
              <!-- <h2 class="mb-4 title" >.domain %></h2> -->
              <%if(course.domain === domain[i]){  %>
                <div class="col-sm-3 title3">
                  <div class="card">
                    <img src="<%=course.images[0].url%>" class="card-img-top" alt="..." >
                    <div class="card-body">
                      <h5 class="card-title"><%= course.title %></h5>
                      <p class="card-text"><%= course.technologies %></p>
                      <% if (course.price === "Paid") { %> 
                      <span style="color: red;"><%= course.price %></span>
                      <% } %> 
                      <p class="card-text">Domain- <%= course.domain %></p>
                      <p class="card-text">Available On- <%= course.platform %></p>
                      <p class="card-text">By @<%=course.instructor_name%></a> </p>
                      <a href="<%=course.link %>" target="YT 1"class="btn btn-primary">Course Link</Link></a>
                    </div>
                    <div class="rmed title4">
                      <% if ( page === 'filter') {%>
                        <a
                          href="edit/<%= course._id %>"
                          class="btn"
                          ><i class="fa fa-thin fa-pencil"></i></a
                        >
                        <form
                          action="/courses/<%= course._id %>?_method=DELETE"
                          method="POST"
                          class="d-inline"
                        >
                          <button type="submit" class="btn">
                            <i class="fa fa-duatone fa-trash"></i>
                          </button>
                        </form>
                      <% } else { %> 
                          <a
                            href="courses/edit/<%= course.id %>"
                            class="btn"
                            ><i class="fa fa-thin fa-pencil"></i></a
                          >
                          <form
                            action="/courses/<%= course.id %>?_method=DELETE"
                            method="POST"
                            class="d-inline"
                          >
                            <button type="submit" class="btn">
                              <i class="fa fa-duatone fa-trash"></i>
                            </button>
                          </form>
                      <% } %> 
                    </div>
                  </div>
                </div>                   
              <% } %>
            <% } %>
          <% }) %>
        </div>
      </div> 
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
  integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
  crossorigin="anonymous"></script>
</html>
