<%- include("partials/head") %>
<body class="display">
<%- include("partials/Navbar") %>
        <h1>Profile Updated </h1>
       <div class="form-group">
            <label for="name">Name</label>
            <input
                required
                value="<%= user.name %>"
                type="text"
                name="name"
                id="name"
                class="form-control"
            />
        </div>
        <br />
        <div class="form-group">
            <label for="email">email</label>
            <textarea name="email" id="email" class="form-control" cols="10">
            <%= user.email %></textarea
            >
        </div>
        <br />
        <div class="form-group">
            <label for="gender">Gender</label>
            <textarea required name="gender" id="gender" class="form-control">
            <%= user.gender %></textarea
            >
        </div>
</body>
<%- include("partials/footer") %>
</html>