<%- include("./../partials/head") %>
<link rel="stylesheet" href="/css/blog.css" />
<body >
  <%- include("./../partials/Navbar") %>
  
    <div class="container ">
      <div class="narticle2 col-sm-10 info">
        <h1 class="mb-1"><%= article.title %></h1>
        <p><%= article.description %></p>
        <div class="text-muted mb-2">
          <%= article.createdAt.toLocaleDateString() %>
        </div>
        <a href="/articles" class="btn btn-secondary">All Articles</a>
        <a href="/articles/edit/<%= article.id %>" class="btn btn-info"
          ><i class="fa fa-thin fa-pencil"></i
        ></a>
  
        <blockquote>-By <%- article.sanitizedHtml %></blockquote>
      </div>
    </div>
  </body>


</html>
