<%- include("./../partials/head") %>
<link rel="stylesheet" href="/css/blog.css">
<body class="notedisplay" >
  <%- include("./../partials/Navbar") %>
  <nav class="filter navbar navbar-expand-lg navbar-dark ">
  <form action="/notes/filter" method="get">
  <div class="filter-cont">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          COURSE
        </a>
          <ul class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
              <li> 
                <a class="dropdown-item" href="/notes/filter" >Engineering</a>
              </li>
              <li> 
                <a class="dropdown-item" class="btn" value="MCA" >MCA</a>
              </li>
          </ul>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          BRANCH
        </a>
          <ul class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
            <li> 
              <a class="dropdown-item" href="notes/filter">Computer Engineering</a>
            </li>
            <li> 
              <a class="dropdown-item" href="notes/filter">Electronics & Telecommunication</a>
            </li>
            <li> 
              <a class="dropdown-item" href="notes/filter">Electronics</a>
            </li>
            <li> 
              <a class="dropdown-item" href="notes/filter">Information Technology</a>
            </li>
            <li> 
              <a class="dropdown-item" href="notes/filter">Instrumentation</a>
            </li>
          </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          YEAR
        </a>
          <ul class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
            <li> 
              <a class="dropdown-item" href="notes/filter">First</a>
            </li>
            <li> 
              <a class="dropdown-item" href="notes/filter">Second</a>
            </li>
            <li> 
              <a class="dropdown-item" href="notes/filter">Third</a>
            </li>
            <li> 
              <a class="dropdown-item" href="notes/filter">Fourth</a>
            </li>
          </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          SEMESTER
        </a>
          <ul class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
            <li> 
              <a class="dropdown-item" href="notes/filter">Sem-1</a>
            </li>
            <li> 
              <a class="dropdown-item" href="notes/filter">Sem-2</a>
            </li>
            <li> 
              <a class="dropdown-item" href="notes/filter">Sem-3</a>
            </li>
            <li> 
              <a class="dropdown-item" href="notes/filter">Sem-4</a>
            </li>
            <li> 
              <a class="dropdown-item" href="notes/filter">Sem-5</a>
            </li>
            <li> 
              <a class="dropdown-item" href="notes/filter">Sem-6</a>
            </li>
            <li> 
              <a class="dropdown-item" href="notes/filter">Sem-7</a>
            </li>
            <li> 
              <a class="dropdown-item" href="notes/filter">Sem-8</a>
            </li>
          </ul>
      </li>
    </ul>
  </div>
  </form>
  </nav>
  <div class="container-b">
    <div>
      <h1 class="mb-4 title">Notes Available</h1>
    </div>
    <div class="btn btn-light mt-4 col-sm-1 title plus">
      <a href="notes/new" class="btn">
        <i class="fa fa-solid fa-plus"></i></a>
    </div> 
    <div class="m-5 col-sm-10">
      <div class="row text-color">
        <% notes.forEach(note => { %>
        <div class="col-sm-4 mb-2">
          <div class="card">
            <div class="card-body title3">
              <h5 class="card-title"><%= note.title %></h5>
              <p class="card-text">
                <%= note.description %>
              </p>
              <span class="badge bg-light text-dark mb-3 title4"><%= note.semester %></span>
              <p class="card-text">
                Subject- <%= note.subject %>
              </p>
              <a href="<%= note.url  %> ">Open Notes</a>
            </div>
          <div class="rmed title4">
          <a
            href="notes/<%= note.slug %>"
            class="btn"
            ><i class="fa fa-thin fa-bars"></i></a
          >
          <a
            href="notes/edit/<%= note.id %>"
            class="btn"
            ><i class="fa fa-thin fa-pencil"></i></a
          >
          <form
            action="/notes/<%= note.id %>?_method=DELETE"
            method="POST"
            class="d-inline"
          >
            <button type="submit" class="btn">
              <i class="fa fa-duatone fa-trash"></i>
            </button>
          </form>
        </div>
        </div>
      </div>
      <% }) %>
      </div>
      
    </div>
  </div>
</body>
<script src="/js/filter.js"></script>
<%- include("./../partials/footer") %>
</html>