<%- include("./../partials/head") %>
<link rel="stylesheet" href="/css/blog.css">
<body class="notedisplay" >
  <%- include("./../partials/Navbar") %>
  <div>
    <nav class="filter">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="container-b">
    <div>
      <h1 class="mb-4 title">Notes Available</h1>
    </div>
    <div class="m-5 col-sm-10">
      <div class="row text-color">
        <% notes.forEach(note => { %>
        <div class="col-sm-5 mb-2">
          <div class="card">
            <div class="card-body title3">
              <h5 class="card-title"><%= note.title %></h5>
              <p class="card-text">
                <%= note.description %>
              </p>
              <span class="badge bg-light text-dark mb-3 title4"><%= note.semester %></span>
              <p class="card-text">
                Subject- <%= note.subject %>
              </p>
              <a href="<%= note.url  %> ">Open Notes</a>
            </div>
          <div class="rmed title4">
          <a
            href="notes/<%= note.slug %>"
            class="btn"
            ><i class="fa fa-thin fa-bars"></i></a
          >
          <a
            href="notes/edit/<%= note.id %>"
            class="btn"
            ><i class="fa fa-thin fa-pencil"></i></a
          >
          <form
            action="/notes/<%= note.id %>?_method=DELETE"
            method="POST"
            class="d-inline"
          >
            <button type="submit" class="btn">
              <i class="fa fa-duatone fa-trash"></i>
            </button>
          </form>
        </div>
        </div>
      </div>
      <% }) %>
      </div>
      <div class="btn btn-light mt-4 col-sm-1 title">
        <a href="notes/new" class="btn">
          <i class="fa fa-solid fa-plus"></i></a>
      </div> 
    </div>
  </div>
</body>
<!-- <%- include("./../partials/footer") %> -->
</html>