<%- include("./../partials/head") %>
<link rel="stylesheet" href="/css/blog.css">
<body class="notedisplay" >
<%- include("./../partials/Navbar") %>
  <nav class="filter navbar navbar-expand-lg navbar-dark ">
  <div class="filter-cont">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          COURSE
        </a>
        <ul  class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/notes/filter/course/MCA" target="">MCA</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/notes/filter/course/B.Tech" target="">Engineering</a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          BRANCH
        </a>
        <ul  class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/notes/filter/branch/COMPS" target="">Computer Engineering</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/notes/filter/branch/EXTC" target="">Electronics & Telecommunication</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/notes/filter/branch/ETRX" target="">Electronics</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/notes/filter/branch/IT" target="">Information Technology</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/notes/filter/branch/INST" target="">Instrumentation</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          YEAR
        </a>
        <ul  class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/notes/filter/year/FE" target="">FE</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/notes/filter/year/SE" target="">SE</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/notes/filter/year/TE" target="">TE</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/notes/filter/year/BE" target="">BE</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          SEMESTER
        </a>
        <ul  class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/notes/filter/semester/SEM I" target="">SEM I</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/notes/filter/semester/SEM II" target="">SEM II</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/notes/filter/semester/SEM III" target="">SEM III</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/notes/filter/semester/SEM IV" target="">SEM IV</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/notes/filter/semester/SEM V" target="">SEM V</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/notes/filter/semester/SEM VI" target="">SEM VI</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/notes/filter/semester/SEM VII" target="">SEM VII</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/notes/filter/semester/SEM VIII" target="">SEM VIII</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  </nav>
  <div class="container-b">
    <div>
      <h1 class="mb-4 title">Notes Available</h1>
    </div>
    <div class="m-5">
    <%- include('./../partials/flash')%>
    </div>
    <div class="btn btn-light mt-4 col-sm-1 title plus">
      <% if( page === 'filter') {  %>
        <a href="/notes/new" class="btn"><i class="fa fa-solid fa-plus"></i></a>
      <% }else { %>
        <a href="notes/new" class="btn"><i class="fa fa-solid fa-plus"></i></a>
      <% } %>
    </div> 
    <div class="m-5 col-sm-10">
      <div class="row text-color">
        <% notes.forEach(note => { %>
        <div class="col-sm-4 mb-2">
          <div class="card">
            <img src="/Images/notes.jpg" class="card-img-top" alt="..." >
            <div class="card-body title3">
              <h5 class="card-title"><%= note.title %></h5>
              <p class="card-text">
                <%= note.description %>
              </p>
              <span class="badge bg-light text-dark mb-3 title4"><%= note.semester %></span>
              <p class="card-text">
                Subject- <%= note.subject %>
              </p>
              <a href="<%= note.url  %> ">Open Notes</a>
            </div>
          <div class="rmed title4">
          <% if ( page === 'filter') {%> 
            <a
              href="/notes/edit/<%= note._id %>"

              class="btn"
              ><i class="fa fa-thin fa-pencil"></i></a
            >
            <form
              action="/notes/<%= note._id %>?_method=DELETE"
              method="POST"
              class="d-inline"
            >
              <button type="submit" class="btn">
                <i class="fa fa-duatone fa-trash"></i>
              </button>
            </form>
          <% } else { %> 
              <a
                href="notes/edit/<%= note.id %>"
                class="btn"
                ><i class="fa fa-thin fa-pencil"></i></a
              >
              <form
                action="/notes/<%= note.id %>?_method=DELETE"
                method="POST"
                class="d-inline"
              >
                <button type="submit" class="btn">
                  <i class="fa fa-duatone fa-trash"></i>
                </button>
              </form>
          <% } %> 
        </div>
        </div>
      </div>
      <% }) %>
      </div>
      
    </div>
  </div>
</body>

<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
  integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
  crossorigin="anonymous"></script> -->
</html>